{% extends "base.html" %}

{% block title %}
Edit Decision
{% endblock %}

{% block navbar %}

<a class="nav-link text-white" href="/admin/review/{{ submission.id }}">
    ⬅ <span class="nav-text">Back</span>
</a>

<a class="nav-link text-white" href="/logout">
    🚪 <span class="nav-text">Logout</span>
</a>

{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-12 col-lg-8">

        <div class="card shadow">

            <div class="card-body p-4 p-md-5">

                <h2 class="mb-4 text-center">

                    Edit Submission Status

                </h2>

                <p class="text-center">

                    Current status:

                    {% if submission.status == "Accepted" %}

                        <span class="text-success fw-bold">
                            Accepted
                        </span>

                    {% elif submission.status == "Rejected" %}

                        <span class="text-danger fw-bold">
                            Rejected
                        </span>

                    {% else %}

                        <span class="text-warning fw-bold">
                            Pending
                        </span>

                    {% endif %}

                </p>

                <form method="POST">

                    <div class="mb-4">

                        <label class="form-label">

                            Choose a new status

                        </label>

                        <select
                            class="form-select"
                            name="status">

                            <option
                                {% if submission.status=="Pending" %}selected{% endif %}>
                                Pending
                            </option>

                            <option
                                {% if submission.status=="Accepted" %}selected{% endif %}>
                                Accepted
                            </option>

                            <option
                                {% if submission.status=="Rejected" %}selected{% endif %}>
                                Rejected
                            </option>

                        </select>

                    </div>

                    <div class="d-grid">

                        <button
                            class="btn btn-primary btn-lg">

                            Save Changes

                        </button>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}